In [1]:
import pandas as pd
import matplotlib.colors as mcolors
import os
import psycopg2
from dotenv import load_dotenv

## 1. Reading HTML file and Creating DataFrame

In [2]:
df = pd.read_html("./python_class_question.html")[0]

In [3]:
df.head()

         DAY                                            COLOURS
0     MONDAY  GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE,...
1    TUESDAY  ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, P...
2  WEDNESDAY  GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, ...
3   THURSDAY  BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, Y...
4     FRIDAY  GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK,...

### Retrieving grouped colours and convering to a list of single colours

In [4]:
colour_group_list = df["COLOURS"].tolist() 
colour_group_list

['GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, BLUE, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN',
 'ARSH, BROWN, GREEN, BROWN, BLUE, BLUE, BLEW, PINK, PINK, ORANGE, ORANGE, RED, WHITE, BLUE, WHITE, WHITE, BLUE, BLUE, BLUE',
 'GREEN, YELLOW, GREEN, BROWN, BLUE, PINK, RED, YELLOW, ORANGE, RED, ORANGE, RED, BLUE, BLUE, WHITE, BLUE, BLUE, WHITE, WHITE',
 'BLUE, BLUE, GREEN, WHITE, BLUE, BROWN, PINK, YELLOW, ORANGE, CREAM, ORANGE, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, GREEN',
 'GREEN, WHITE, GREEN, BROWN, BLUE, BLUE, BLACK, WHITE, ORANGE, RED, RED, RED, WHITE, BLUE, WHITE, BLUE, BLUE, BLUE, WHITE']

In [5]:
colour_list = []

for colour_group in colour_group_list:
    for colour in colour_group.split(","):
        colour_list.append(colour.strip())

len(colour_list)

95

### Creating DataFrame form List of colours

In [6]:
colour_df = pd.DataFrame(colour_list, columns=["colours"])
colour_df.head()

  colours
0   GREEN
1  YELLOW
2   GREEN
3   BROWN
4    BLUE

In [7]:
colour_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   colours  95 non-null     object
dtypes: object(1)
memory usage: 892.0+ bytes

In [8]:
colour_df.describe()

       colours
count       95
unique      12
top       BLUE
freq        30

## 2. Data Cleaning

### Replacing 'ARSH' with 'ASH' and 'BLEW' with 'BLUE' in the COLOURS column

In [9]:
colour_df['colours'] = colour_df['colours'].str.replace(r'\bARSH\b', 'ASH', regex=True)
colour_df['colours'] = colour_df['colours'].str.replace(r'\bBLEW\b', 'BLUE', regex=True)

colour_df

   colours
0    GREEN
1   YELLOW
2    GREEN
3    BROWN
4     BLUE
..     ...
90   WHITE
91    BLUE
92    BLUE
93    BLUE
94   WHITE

[95 rows x 1 columns]

## Simple EDA

In [10]:

custom_colours = {
    'ASH': (0.7, 0.75, 0.71)
}

### Convert colours to RGB value

In [11]:
def colour_to_rgb(colour):
    try:
        return custom_colours[colour] if colour in custom_colours else mcolors.to_rgb(colour.lower())
    except ValueError:
        return (None, None, None)

colour_df[['r', 'g', 'b']] = colour_df['colours'].apply(colour_to_rgb).apply(pd.Series)

colour_df.head()

  colours         r         g         b
0   GREEN  0.000000  0.501961  0.000000
1  YELLOW  1.000000  1.000000  0.000000
2   GREEN  0.000000  0.501961  0.000000
3   BROWN  0.647059  0.164706  0.164706
4    BLUE  0.000000  0.000000  1.000000

### Computing the mean rgb

In [12]:
mean_rgb = (
    round(colour_df['r'].mean(), 6),
    round(colour_df['g'].mean(), 6),
    round(colour_df['b'].mean(), 6)
)

mean_rgb

(np.float64(0.522391), np.float64(0.401571), np.float64(0.566437))

### Computing median rgb

In [13]:
median_rgb = (
    round(colour_df['r'].median(), 6),
    round(colour_df['g'].median(), 6),
    round(colour_df['b'].median(), 6)
)

median_rgb

(np.float64(0.647059), np.float64(0.164706), np.float64(1.0))

### Computing median rgb

In [14]:
variance_rgb = (
    round(colour_df['r'].var(), 6),
    round(colour_df['g'].var(), 6),
    round(colour_df['b'].var(), 6)
)

variance_rgb

(np.float64(0.235034), np.float64(0.172289), np.float64(0.228222))

## Function to convert rgb values to colour name or closet matching name

In [15]:

def closest_colour_mpl(rgb):
    r, g, b = [int(x * 255) for x in rgb]

    min_distance = float('inf')
    closest_name = None

    for name, hex_value in mcolors.CSS4_COLORS.items():
        r_c, g_c, b_c = mcolors.to_rgb(hex_value)
        r_c, g_c, b_c = int(r_c * 255), int(g_c * 255), int(b_c * 255)
        distance = (r - r_c) ** 2 + (g - g_c) ** 2 + (b - b_c) ** 2
        if distance < min_distance:
            min_distance = distance
            closest_name = name

    return closest_name

## Solution

### 1. Mean

In [16]:
mean_closest = closest_colour_mpl(mean_rgb)
print("Closest colour name:", mean_closest)

Closest colour name: gray

## Mean colour is GRAY

### 2. Most Worn Colour (Mode)

In [17]:
mode = colour_df["colours"].mode()[0].strip()

print(f"The most worm colour is {mode}")

The most worm colour is BLUE

## The most worn colour is BLUE

### 3. Median Colour

In [18]:
median_closest = closest_colour_mpl(median_rgb)

print("Closest colour name:", median_closest)

Closest colour name: blueviolet

## The median colour is BLUEVIOLET

### 4. Variance of the colors

In [19]:
variance_closest = closest_colour_mpl(variance_rgb)
print("Closest colour name:", variance_closest)

Closest colour name: darkslategray

## The variance of the colours is DARKSLATEGRAY

### 5. Probability that the color is red?

In [20]:
colour_df['colours'].value_counts()

colours
BLUE      31
WHITE     16
GREEN     10
ORANGE     9
RED        9
BROWN      6
YELLOW     5
PINK       5
CREAM      2
ASH        1
BLACK      1
Name: count, dtype: int64

In [21]:
len(colour_df)

95

In [22]:
probability_red = colour_df['colours'].value_counts().get('RED', 0) / len(colour_df) * 100
print(f"Probability colour is RED: {probability_red:.2f}")

Probability colour is RED: 9.47

## Probability that the colour is RED is 9.47%

### 6. Saving the colours and their frequencies in postgresql database

#### Creating the frequency table

In [23]:
freq_df = colour_df['colours'].value_counts().reset_index()
freq_df.columns = ['colour', 'frequency']

freq_df

    colour  frequency
0     BLUE         31
1    WHITE         16
2    GREEN         10
3   ORANGE          9
4      RED          9
5    BROWN          6
6   YELLOW          5
7     PINK          5
8    CREAM          2
9      ASH          1
10   BLACK          1

#### Connecting to a Postgres db with password saved as environment variables

In [29]:
load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_PORT = os.getenv("DB_PORT")

required_vars = [DB_HOST, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT]
if not all(required_vars):
    raise ValueError("One or more required environment variables are missing.")

try:
    conn = psycopg2.connect(
        host=DB_HOST,
        dbname=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD,
        port=DB_PORT
    )

    cur = conn.cursor()
    print("Database connection successful.")
except psycopg2.Error as e:
    print("Database connection failed:", e)

Database connection successful.

#### Create table if it doesn't exist

In [30]:
try:
    cur.execute("""
        CREATE TABLE IF NOT EXISTS colours_data (
            id SERIAL PRIMARY KEY,
            colour VARCHAR(54) UNIQUE,
            frequency INT
        )
    """)
    conn.commit()
    print("Table created (or already exists) and changes committed.")
    
except psycopg2.Error as e:
    print("Failed to create table or commit changes:", e)
    conn.rollback()

Table created (or already exists) and changes committed.

#### Adding data from frequency table to db

In [31]:
try:
    for i, row in freq_df.iterrows():
        try:
            cur.execute("""
                INSERT INTO colours_data (colour, frequency) 
                VALUES (%s, %s)
                ON CONFLICT (colour) DO NOTHING
            """, (row['colour'], row['frequency'])
            )
            print(f"Inserted: {row['colour']} → {row['frequency']}")
        except psycopg2.Error as e:
            print(f"Failed to insert {row['colour']}: {e}")
    conn.commit()
    print("\nAll inserts committed successfully.")
except psycopg2.Error as e:
    print("Error during insert loop or commit:", e)
    conn.rollback()

Inserted: BLUE → 31
Inserted: WHITE → 16
Inserted: GREEN → 10
Inserted: ORANGE → 9
Inserted: RED → 9
Inserted: BROWN → 6
Inserted: YELLOW → 5
Inserted: PINK → 5
Inserted: CREAM → 2
Inserted: ASH → 1
Inserted: BLACK → 1

All inserts committed successfully.

#### Reading data from colours_data table to show its there.

In [32]:
cur.execute("SELECT * FROM colours_data")
rows = cur.fetchall()
print("Data in table:")
for row in rows:
    print(row)

# Close connection
cur.close()
conn.close()

Data in table:
(1, 'BLUE', 31)
(2, 'WHITE', 16)
(3, 'GREEN', 10)
(4, 'ORANGE', 9)
(5, 'RED', 9)
(6, 'BROWN', 6)
(7, 'YELLOW', 5)
(8, 'PINK', 5)
(9, 'CREAM', 2)
(10, 'ASH', 1)
(11, 'BLACK', 1)